---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Definitions">
	<h2>Welcome!</h2>
	<p>This is a demo of what is possible with <a href="https://astro.build" target="_blank">astro</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API" target="_blank"> view transitions API</a>.</p>
	<p>Please access this site using a modern view of Chrome or Edge for the <a href="https://caniuse.com/view-transitions" target="_blank">full feature set</a>. If you use a different browser (e.g. Safari or Firefox), you will just have standard SPA navigation without transitions.</p>
	<p>Now, check out the <a href="/terms">demo</a>.</p>
</Layout>

<style>
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
</style>